[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
plotly = "*"
nbformat = "*"
scikit-learn = "*"
seaborn = "*"
tensorflow = "*"
keras = "*"
pydot = "*"
opencv-python = "*"
lifelines = "*"
xgboost = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
